/* CUSTOM FONT INCLUSION */
@font-face {
  font-family: 'Work Sans';
  src: url('../../shared/assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf')
    format('opentype-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-white: rgb(255 255 255);
  --color-purple-100: rgb(248 238 255);
  --color-purple-600: rgb(139 105 144);
  --color-purple-950: rgb(48 21 52);
  --color-violet-600: rgb(173 40 235);
  --color-black: rgb(0 0 0);

  /* Spacing */
  --spacing-unit: 8px;
  --spacing-100: calc(var(--spacing-unit) * 1);
  --spacing-200: calc(var(--spacing-unit) * 2);
  --spacing-300: calc(var(--spacing-unit) * 3);
  --spacing-400: calc(var(--spacing-unit) * 4);
  --spacing-500: calc(var(--spacing-unit) * 5);
}

/* RESETS & GENERAL STYLES */
body,
h1,
h2,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
}

button,
img {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

button {
  border-color: transparent;
  border-width: 2px;
  font: inherit;
  cursor: pointer;
}

html {
  font:
    normal 400 100% / 1.5 'Work Sans',
    sans-serif;
  background-color: var(--color-purple-100);
  color: var(--color-purple-950);
}

body {
  font-size: 0.875rem; /* 14px */
  background: url('../assets/images/background-pattern-mobile.svg') top center / contain no-repeat;
}

/* Focus Outline */
* {
  outline-width: 0;
  transition: outline-width 100ms ease-in;
}

*:focus-visible {
  outline: 3px solid var(--color-violet-600);
  outline-offset: 3px;
}

/* TYPOGRAPHY
  - Regular: 400
  - SemiBold: 600
  - Bold: 700
  - 700 32px / 38px | 700 56px / 66px
  - 600 16px / 19px | 600 18px / 21px
  - 400 14px / 1.5 | 400 16px / 1.5 */
.text-preset-1 {
  font-weight: 700;
  font-size: 2rem; /* 32px */
  line-height: 2.375rem; /* 38px */
}

.text-preset-2 {
  font-weight: 600;
  font-size: 1rem; /* 16px */
  line-height: 1.1875rem; /* 19px */
}

.text-preset-3 {
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.5;
}

/* LAYOUT */
.faqa-layout {
  height: 100svh;
  display: grid;
  align-items: center;
  grid-template:
    '. . .' 3rem
    '. main .' 1fr
    'footer footer footer' 3rem
    / auto minmax(375px, 648px) auto;
}

/* MAIN CONTENT */
.faqa-main {
  grid-area: main;
  padding: 0 var(--spacing-300);
}

.faqa-main_container {
  padding: calc(var(--spacing-300) - 1px) calc(var(--spacing-200) - 1px);
  border: 1px solid transparent;
  border-radius: var(--spacing-100);
  background-color: var(--color-white);
  box-shadow: 0 32px 56px rgb(80 0 118 / 10%);
}

/* Heading */
.faqa-main_heading {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-300);
  margin: 0 6px;
}

.faqa-icon_star {
  width: 21px;
  height: 21px;
  background: url('../assets/images/icon-star.svg') center / 113% no-repeat;
}

/* Accordion */
.faqa-accordion_item {
  padding: calc(var(--spacing-200) + 2px) 0;
  border-bottom: 1px solid var(--color-purple-100);

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.faqa-accordion_trigger button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 var(--spacing-300);
  width: 100%;
  padding: calc(var(--spacing-100) - 2px);
  text-align: left;
  background-color: transparent;

  &:hover,
  &:focus-visible {
    color: var(--color-violet-600);
  }
}

.faqa-accordion_trigger-icon {
  width: var(--spacing-300);
  height: var(--spacing-300);
  flex-shrink: 0;
  background: url('../assets/images/icon-plus.svg') center / auto 123% no-repeat;
}

.faqa-accordion_content {
  height: auto;
  overflow: hidden;
  color: var(--color-purple-600);
  transition: height 200ms ease-in;
}

.faqa-accordion_content-spacing {
  margin: calc(var(--spacing-300) - 6px) calc(var(--spacing-100)) var(--spacing-100);
}

.active {
  .faqa-accordion_trigger-icon {
    background: url('../assets/images/icon-minus.svg') center / auto 123% no-repeat;
  }
}

/* Attribution */
.attribution {
  grid-area: footer;
  font-size: 0.6875rem; /* 11px */
  text-align: center;

  li {
    display: inline;
    color: rgb(131 99 136);
  }

  a {
    color: var(--color-purple-950);
  }
}

/* OVERRIDES FOR NON-MOBILE SCREENS */
@media (width >= 768px) {
  body {
    background: url('../assets/images/background-pattern-desktop.svg') top center / auto repeat-x;
  }

  /* TYPOGRAPHY */
  .text-preset-1 {
    font-size: 3.5rem; /* 56px */
    line-height: 4.125rem; /* 66px */
  }

  .text-preset-2 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.3125rem; /* 21px */
  }

  .text-preset-3 {
    font-size: 1rem; /* 16px */
  }

  /* MAIN CONTENT */
  .faqa-accordion {
    margin: var(--spacing-100) 0 0;
  }

  .faqa-main_container {
    padding: calc(var(--spacing-500) - 1px) calc(var(--spacing-400) - 1px);
    border-radius: var(--spacing-200);
    background-color: var(--color-white);
  }

  /* Heading */
  .faqa-main_heading {
    margin: 0 var(--spacing-100);
  }

  .faqa-icon_star {
    width: 35px;
    height: 35px;
  }
}
