/* Custom Font Inclusion */
@font-face {
  font-family: Figtree;
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Custom Properties */
:root {
  /* Color Scheme */
  --color-gray-950: hsl(0deg 0% 7%);
  --color-gray-500: hsl(0deg 0% 42%);
  --color-white: hsl(0deg 0% 100%);
  --color-yellow: hsl(47deg 88% 63%);

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;
}

html {
  font:
    normal 400 62.5% / 1.5 Figtree,
    sans-serif;
  color: var(--color-gray-950);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-yellow);
  font-size: 1.4rem;
}

h1,
p,
a {
  margin: 0;
  padding: 0;
}

/* Blog Preview Card Styles */
.blog-prv-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.blog-prv-card {
  max-width: 334px;
  min-width: 277px;
  margin: 40.5px var(--spacing-300) 0;
  padding: calc(var(--spacing-300) - 1px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 hsl(0deg 0% 0%);
}

.blog-prv-card-cover {
  height: 200px;
  margin-bottom: var(--spacing-300);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.blog-prv-card-cover img {
  display: block;
}

.blog-prv-card-tag {
  display: inline-block;
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 4px;
  background-color: var(--color-yellow);
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  font-weight: 800;
}

.blog-prv-card-date {
  margin-top: var(--spacing-150);
  font-size: clamp(1.2rem, 3vw, 1.4rem);
}

.blog-prv-card-title {
  margin-top: var(--spacing-150);
  font-size: clamp(2rem, 5vw, 2.4rem);
  font-weight: 800;
}

.blog-prv-card-title a {
  text-decoration: none;
  color: var(--color-gray-950);
}

.blog-prv-card-title a:hover,
.blog-prv-card-title a:focus {
  color: var(--color-yellow);
}

.blog-prv-card-excerpt {
  margin-top: var(--spacing-150);
  font-size: clamp(1.4rem, 3vw, 1.6rem);
  color: var(--color-gray-500);
}

.blog-prv-card-author {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-150);
  margin-top: var(--spacing-300);
  font-weight: 800;
}

.blog-prv-card-author img {
  display: block;
  width: 32px;
  height: 32px;
}

.blog-prv-card-author p {
  margin: 0;
}

/* Attribution Styles */
.attribution {
  padding: var(--spacing-150) 0;
  font-size: 1.1rem;
  text-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.attribution a {
  color: hsl(228deg 45% 44%);
}
