/* Custom Font Inclusion */
@font-face {
  font-family: Figtree;
  src: url('../../shared/assets/fonts/figtree/Figtree-VariableFont_wght.ttf')
    format('opentype-variations');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

/* Custom Properties */
:root {
  /* Color Scheme */
  --color-gray-950: hsl(0deg 0% 7%);
  --color-gray-500: hsl(0deg 0% 42%);
  --color-white: hsl(0deg 0% 100%);
  --color-yellow: hsl(47deg 88% 63%);

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
}

html {
  color: var(--color-gray-950);
  font:
    normal 400 100% / 1.5 Figtree,
    sans-serif;
  background-color: var(--color-yellow);
}

body {
  display: grid;
  grid-template:
    /* stylelint-disable-next-line number-max-precision */
    '. . .' minmax(1rem, 2.53125rem) /* 16px, 40.5px */
    '. main .' 1fr
    'footer footer footer' auto
    / 1fr auto 1fr;
  align-items: center;
  height: 100svh;
  margin: 0;
  padding: 0;
  font-size: 0.875rem; /* 14px */
}

h1,
p,
a {
  margin: 0;
  padding: 0;
}

/* Blog Preview Card Styles */
.blog-prv-card {
  grid-area: main;
  min-width: 277px;
  max-width: 334px;
  margin: 0 var(--spacing-300);
  padding: calc(var(--spacing-300) - 1px);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 hsl(0deg 0% 0%);
}

.blog-prv-card-cover {
  border-radius: 10px;
  overflow: hidden;
}

.blog-prv-card-cover img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-prv-card-info {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-150);
}

.blog-prv-card-tag {
  align-self: flex-start;
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 4px;
  background-color: var(--color-yellow);
  font-size: clamp(0.75rem, 3vw, 0.875rem); /* 12px ... 14px */
  font-weight: 800;
}

.blog-prv-card-date {
  font-size: clamp(0.75rem, 3vw, 0.875rem); /* 12px ... 14px */
}

.blog-prv-card-title {
  font-size: clamp(1.25rem, 5vw, 1.5rem); /* 20px ... 24px */
  font-weight: 800;
}

.blog-prv-card-title a {
  text-decoration: none;
  color: var(--color-gray-950);
}

.blog-prv-card-title a:hover,
.blog-prv-card-title a:focus {
  color: var(--color-yellow);
}

.blog-prv-card-excerpt {
  font-size: clamp(0.875rem, 3vw, 1rem); /* 14px ... 16px */
  color: var(--color-gray-500);
}

.blog-prv-card-author {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-150);
  font-weight: 800;
}

.blog-prv-card-author img {
  display: block;
  width: 32px;
  height: 32px;
}

.blog-prv-card-author p {
  margin: 0;
}

/* Attribution */
.attribution {
  grid-area: footer;
  padding: var(--spacing-150) 0;
  font-size: 0.6875rem; /* 11px */
  text-align: center;
}

/* Disabled in favor of grouping styles by their associated elements */
/* stylelint-disable-next-line no-descending-specificity */
.attribution a {
  color: hsl(228deg 45% 44%);
}
