/* CUSTOM FONT INCLUSION */
@font-face {
  font-family: Rubik;
  src: url('../../shared/assets/fonts/rubik/Rubik-VariableFont_wght.ttf')
    format('opentype-variations');
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  src: url('../../shared/assets/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf')
    format('opentype-variations');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-black: rgb(0 0 0);
  --color-white: rgb(255 255 255);
  --color-grey-500: rgb(98 108 127);
  --color-grey-50: rgb(244 246 250);
  --color-blue-950: rgb(45 57 73);
  --color-blue-900: rgb(49 62 81);
  --color-blue-850: rgb(59 77 102);
  --color-blue-500: rgb(48 106 255);
  --color-blue-300: rgb(171 193 225);
  --color-blue-100: rgb(237 241 249);
  --color-blue-50: rgb(235 240 255);
  --color-green-500: rgb(47 216 135);
  --color-green-100: rgb(224 253 239);
  --color-purple-600: rgb(167 41 245);
  --color-purple-300: rgb(211 148 250);
  --color-purple-100: rgb(246 231 255);
  --color-orange-400: rgb(255 126 53);
  --color-orange-50: rgb(255 245 237);
  --color-red-500: rgb(238 84 84);

  /* Spacing */
  --spacing-unit: 8px;
  --spacing-100: calc(var(--spacing-unit) * 1);
  --spacing-200: calc(var(--spacing-unit) * 2);
  --spacing-300: calc(var(--spacing-unit) * 3);
  --spacing-400: calc(var(--spacing-unit) * 4);
  --spacing-500: calc(var(--spacing-unit) * 5);
  --spacing-600: calc(var(--spacing-unit) * 6);
  --spacing-800: calc(var(--spacing-unit) * 8);
  --spacing-900: calc(var(--spacing-unit) * 9);
  --spacing-1600: calc(var(--spacing-unit) * 16);
  --spacing-1800: calc(var(--spacing-unit) * 18);
  --spacing-2300: calc(var(--spacing-unit) * 23);
}

/* RESETS & GENERAL STYLES */
body,
button,
h1,
h2,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

html {
  font:
    normal 400 100% / 1.5 Rubik,
    sans-serif;
  background-color: var(--color-grey-500);
}

/* THEME CONFIG */
.style-theme-light {
  --color-background: var(--color-grey-50);
  --color-text-body: var(--color-blue-900);
  --color-text-accent: var(--color-grey-500);
  --bg-img-url-mobile: url('../images/pattern-background-mobile-light.svg');
  --bg-img-url-tablet: url('../images/pattern-background-tablet-light.svg');
  --bg-img-url-desktop-left: url('../images/pattern-background-desktop-light-left.svg');
  --bg-img-url-desktop-right: url('../images/pattern-background-desktop-light-right.svg');
  --icon-url-sun: url('../images/icon-sun-light.svg');
  --icon-url-moon: url('../images/icon-moon-light.svg');
  --color-bg-btn-secondary: var(--color-white);
  --color-text-btn-secondary: var(--color-blue-900);
  --color-shadow-btn-secondary: rgb(143 160 193 / 14%);
  --color-secondary-text: var(--color-blue-850);
  --color-secondary-text-link: var(--color-purple-600);
  --color-focus-outline: var(--color-blue-500);
}

.style-theme-dark {
  --color-background: var(--color-blue-900);
  --color-text-body: var(--color-white);
  --color-text-accent: var(--color-blue-300);
  --bg-img-url-mobile: url('../images/pattern-background-mobile-dark.svg');
  --bg-img-url-tablet: url('../images/pattern-background-tablet-dark.svg');
  --bg-img-url-desktop-left: url('../images/pattern-background-desktop-dark-left.svg');
  --bg-img-url-desktop-right: url('../images/pattern-background-desktop-dark-right.svg');
  --icon-url-sun: url('../images/icon-sun-dark.svg');
  --icon-url-moon: url('../images/icon-moon-dark.svg');
  --color-bg-btn-secondary: var(--color-blue-850);
  --color-text-btn-secondary: var(--color-white);
  --color-shadow-btn-secondary: rgb(49 62 81 / 14%);
  --color-secondary-text: var(--color-blue-300);
  --color-secondary-text-link: var(--color-white);
  --color-focus-outline: var(--color-white);
}

/* Focus Outline */
* {
  outline-width: 0;
  transition: outline-width 100ms ease-in;
}

*:focus-visible {
  outline: 3px solid var(--color-focus-outline);
  outline-offset: 3px;
}

/* No Transitions on Page Load */
.transitions-off *,
.transitions-off *::before,
.transitions-off *::after {
  transition: none !important;
}

/* A11y Visually Hidden Content */
.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* TYPOGRAPHY
   - Light: 300
   - Regular: 400
   - Medium: 500
   - Italic Regular: 400
   - 500 144px / 1 | 500 88px / 1 
   - 500 64px / 1 | 500 40px / 1
   - 300 64px / 1 | 300 40px / 1
   - 500 36px / 1.2 | 500 20px / 1.2
   - 500 28px / 1 | 500 18px / 1
   - 500 24px / 1.5 | N/A
   - 400 24px / 1.5 | N/A
   - 400 Italic 20px / 1.5 | 400 Italic 14px / 1.5 */
.font-style_preset-1 {
  font-size: 5.5rem; /* 88px */
  line-height: 1;
}

.font-style_preset-2 {
  font-size: 2.5rem; /* 40px */
  line-height: 1;
}

.font-style_preset-3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
}

.font-style_preset-4 {
  font-size: 1.125rem; /* 18px */
  line-height: 1;
}

.font-style_preset-5 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.5;
}

.font-style_preset-6 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5;
}

.font-style_light {
  font-weight: 300;
}

.font-style_medium {
  font-weight: 500;
}

.font-style_italic {
  font-style: italic;
}

.text-color_accent {
  color: var(--color-text-accent);
}

/* BADGES */
.fqa-badge_container {
  width: 40px;
  height: 40px;
  background-color: var(--color-grey-50);
  border-radius: 6px;
  color: var(--color-grey-500);
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fqa-badge_img {
  width: 28px;
  height: 28px;
}

/* Colored Badges */
.fqa-badge_color-0 {
  background-color: var(--color-orange-50);
}

.fqa-badge_color-1 {
  background-color: var(--color-green-100);
}

.fqa-badge_color-2 {
  background-color: var(--color-blue-50);
}

.fqa-badge_color-3 {
  background-color: var(--color-purple-100);
}

/* BUTTONS */
.fqa-btn {
  border-radius: 12px;
  box-shadow: 0 16px 40px var(--color-shadow-btn-secondary);
  width: 100%;

  &:disabled {
    cursor: default;
  }
}

.fqa-btn_primary {
  background-color: var(--color-purple-600);
  color: var(--color-white);
  padding: calc(var(--spacing-200) + 1px);

  &:hover,
  &:focus-visible {
    background-color: var(--color-purple-300);
  }
}

.fqa-btn_secondary {
  background-color: var(--color-bg-btn-secondary);
  border: 3px solid transparent;
  color: var(--color-text-btn-secondary);
  padding: calc(var(--spacing-200) - 3px);

  &.correct-option {
    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 0 0 auto;
      background: url('../images/icon-correct.svg') center / cover no-repeat transparent;
      flex: 0 0 auto;
    }
  }

  &.incorrect-affirm {
    border-color: var(--color-red-500);

    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 0 0 auto;
      background: url('../images/icon-incorrect.svg') center / cover no-repeat transparent;
      flex: 0 0 auto;
    }

    .fqa-badge_container {
      background-color: var(--color-red-500);
      color: var(--color-white);
    }
  }

  &.correct-affirm {
    border-color: var(--color-green-500);

    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 0 0 auto;
      background: url('../images/icon-correct.svg') center / cover no-repeat;
      flex: 0 0 auto;
    }

    .fqa-badge_container {
      background-color: var(--color-green-500);
      color: var(--color-white);
    }
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled),
  &.active {
    border-color: var(--color-purple-600);

    /* stylelint-disable-next-line no-descending-specificity */
    .fqa-badge_container:not([class*='fqa-badge_color']) {
      background-color: var(--color-purple-600);
      color: var(--color-white);
    }
  }
}

/* ICONS */
.icn-sun {
  background: var(--icon-url-sun) center / cover no-repeat transparent;
}

.icn-moon {
  background: var(--icon-url-moon) center / cover no-repeat transparent;
}

.icn-error {
  background: url('../images/icon-error.svg') center / cover no-repeat transparent;
}

/* LAYOUT */
.fqa-grid {
  height: 100svh;
  display: grid;
  grid-template:
    '. header .' auto
    '. main .' 1fr
    'footer footer footer' auto
    / auto minmax(min-content, 548px) auto;
}

/* MAIN APPLICATION STYLES */
.fqa-root {
  background: var(--bg-img-url-mobile) 0 0 no-repeat var(--color-background, var(--color-white));
  color: var(--color-text-body, var(--color-black));
}

/* Header */
.fqa-header {
  box-sizing: border-box;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.5rem; /* 72px */
  padding: var(--spacing-200) var(--spacing-300) 0;
}

.fqa-header_title-container {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-200);
}

.fqa-theme-switch {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-100);
}

.fqa-theme-icn {
  display: block;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
}

/* Theme Switch Toggle */
.fqa-theme-switch_btn {
  display: flex;
  width: 2rem; /* 32px */
  height: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */
  padding: 0.125rem; /* 2px */
  background-color: var(--color-purple-600);

  &::before {
    content: '';
    display: block;
    width: 0.75rem; /* 12px */
    height: 0.75rem; /* 12px */
    border-radius: 50%;
    background-color: var(--color-white);
    margin-left: 0;
    transition: transform 200ms ease-in-out;
  }
}

.fqa-theme-switch_btn.active {
  &::before {
    transform: translateX(0.75rem); /* 12px */
  }
}

.fqa-main {
  grid-area: main;
  padding: 0 var(--spacing-300);
}

/* Data Error Message */
.fqa-main-error {
  display: flex;
  gap: 0 var(--spacing-100);
  margin: var(--spacing-300) 0;
  color: var(--color-red-500);

  .icn-error {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
  }
}

.fqa-info_chooser-heading {
  max-width: 18.75rem; /* 300px */
  margin: var(--spacing-400) 0 var(--spacing-200);
}

.fqa-info_chooser-text {
  margin: 0 0 var(--spacing-500);
}

/* Controls */
.fqa-controls_btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-200);
  margin: var(--spacing-200) 0 0;
  text-align: left;

  &:first-child {
    margin: 0;
  }
}

.fqa-controls_submit {
  display: none;
  margin: var(--spacing-200) 0;

  &.active {
    display: block;
  }
}

.fqa-controls_submit-error {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0 var(--spacing-100);
  color: var(--color-red-500);

  &.active {
    display: flex;
  }

  .icn-error {
    display: block;
    width: 32px;
    height: 32px;
  }
}

.fqa-info_progress {
  margin: var(--spacing-400) 0 var(--spacing-200);
}

/* Progress Bar */
.fqa-progress-bar {
  margin: var(--spacing-300) 0 var(--spacing-500);
  background-color: var(--color-bg-btn-secondary);
  border-radius: 8px;
  border: 4px solid transparent;

  .fqa-progress-bar_inner {
    height: 8px;
    width: 0;
    border-radius: 4px;
    background-color: var(--color-purple-600);
  }
}

/* Score */
.fqa-info_score-heading {
  max-width: 22.625rem; /* 362px */
  margin: var(--spacing-400) 0 var(--spacing-500);
}

.fqa-score-card {
  padding: var(--spacing-400);
  background-color: var(--color-bg-btn-secondary);
  border-radius: 12px;
  box-shadow: 0 16px 40px var(--color-shadow-btn-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200) 0;
}

.fqa-score-card_title {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-200);
}

.fqa-score-card_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

/* Attribution */
.fqa-attribution {
  grid-area: footer;
  padding: 1.5rem 0; /* 24px */
  font-size: 0.6875rem; /* 11px */
  color: var(--color-secondary-text);
  text-align: center;

  a {
    color: var(--color-secondary-text-link);
  }
}

/* OVERRIDES FOR NON-MOBILE SCREENS */
@media (width >= 768px) {
  /* TYPOGRAPHY */
  .font-style_preset-1 {
    font-size: 9rem; /* 144px */
    line-height: 1;
  }

  .font-style_preset-2 {
    font-size: 4rem; /* 64px */
    line-height: 1;
  }

  .font-style_preset-3 {
    font-size: 2.25rem; /* 36px */
    line-height: 1.2;
  }

  .font-style_preset-4 {
    font-size: 1.75rem; /* 28px */
    line-height: 1;
  }

  .font-style_preset-6 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.5;
  }

  /* BUTTONS */
  .fqa-btn {
    border-radius: 24px;
  }

  .fqa-btn_primary {
    padding: calc(var(--spacing-400) - 2px);
  }

  .fqa-btn_secondary {
    &.incorrect-affirm,
    &.correct-affirm,
    &.correct-option {
      &::after {
        width: 40px;
        height: 40px;
      }
    }
  }

  /* BADGES */
  .fqa-badge_container {
    width: 56px;
    height: 56px;
    border-radius: 12px;
  }

  .fqa-badge_img {
    width: 40px;
    height: 40px;
  }

  /* LAYOUT */
  .fqa-grid {
    grid-template-columns: minmax(64px, auto) minmax(640px, 1157px) minmax(64px, auto);
  }

  /* MAIN APPLICATION STYLES */
  .fqa-root {
    background-image: var(--bg-img-url-tablet);
  }

  .fqa-main {
    padding-left: 0;
    padding-right: 0;
  }

  /* Header */
  .fqa-header {
    min-height: 8.5rem; /* 136px */
    padding: var(--spacing-500) 0;
  }

  .fqa-header_title-container {
    gap: 0 var(--spacing-300);
  }

  .fqa-theme-switch {
    gap: 0 var(--spacing-200);
  }

  .fqa-theme-icn {
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
  }

  /* Theme Switch Toggle */
  .fqa-theme-switch_btn {
    width: 3rem; /* 48px */
    height: 1.75rem; /* 28px */
    border-radius: 0.875rem; /* 14px */

    &::before {
      width: 1.25rem; /* 20px */
      height: 1.25rem; /* 20px */
    }
  }

  .fqa-theme-switch_btn.active {
    &::before {
      transform: translateX(1.1875rem); /* 19px */
    }
  }

  /* Data Error Message */
  .fqa-main-error {
    gap: 0 var(--spacing-200);

    .icn-error {
      width: 40px;
      height: 40px;
    }
  }

  .fqa-info_chooser-heading {
    max-width: 31.25rem; /* 500px */
    margin: 0 0 var(--spacing-200);
  }

  .fqa-info_chooser-text {
    margin: 0 0 var(--spacing-600);
  }

  /* Progress Bar */
  .fqa-progress-bar {
    margin: var(--spacing-500) 0;
  }

  .fqa-info_progress {
    margin: 0 0 var(--spacing-300);
  }

  /* Controls */
  .fqa-controls_btn {
    gap: 0 var(--spacing-400);
    margin: var(--spacing-300) 0 0;
  }

  .fqa-controls_submit {
    margin: var(--spacing-400) 0;
  }

  .fqa-controls_submit-error .icn-error {
    display: block;
    width: 40px;
    height: 40px;
  }

  /* Score */
  .fqa-info_score-heading {
    max-width: 28.125rem; /* 450px */
    margin: 0 0 var(--spacing-800);
  }

  .fqa-score-card {
    padding: var(--spacing-600);
    gap: var(--spacing-500) 0;
  }
}

@media (width >= 1024px) {
  /* TYPOGRAPHY */
  .font-style_preset-2 {
    font-size: 3.5rem;
  }

  /* BUTTONS */
  .fqa-btn_secondary {
    padding: calc(var(--spacing-300) - 3px);
  }

  /* MAIN APPLICATION STYLES */
  .fqa-root {
    background:
      var(--bg-img-url-desktop-left) left top no-repeat,
      var(--bg-img-url-desktop-right) right bottom no-repeat var(--color-background);
  }

  /* Header */
  .fqa-header {
    min-height: 13.875rem; /* 222px */
    padding: 83px 0;
  }

  .fqa-main {
    display: flex;
  }

  .fqa-info {
    box-sizing: border-box;
    padding-right: 11.06%;
    flex: 1 0 51.25%;
  }

  .fqa-info_chooser-heading,
  .fqa-info_score-heading {
    margin: 0 0 var(--spacing-600);
    font-size: clamp(3.1875rem, 4.9vw, 4rem); /* 51px - 64px */
  }

  .fqa-info_chooser-text {
    margin: 0;
  }

  /* Progress Bar */
  .fqa-progress-bar {
    margin: var(--spacing-2300) 0 0 0;
  }

  /* Controls */
  .fqa-controls {
    flex: 1 0 48.75%;
  }

  .fqa-controls_btn {
    margin: var(--spacing-200) 0 0 0;
  }
}
