body,
h1,
p {
  margin: 0;
  padding: 0;
}

html {
  font:
    normal 400 100% / 1.4 Outfit,
    sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: hsl(218deg 44% 22%);
  background-color: hsl(212deg 45% 89%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.qr-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.qr-card {
  width: 288px;
  padding: 16px 16px 40px;
  background-color: hsl(0deg 0% 100%);
  border-radius: 20px;
  box-shadow: 0 25px 25px hsla(0deg 0% 0% / 4.77%);
  margin-top: 47.4px;
}

.qr-card-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  background: url('../images/image-qr-code.png') 0 0 / cover;
}

.qr-card-title {
  margin: 24px 10px 16px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.qr-card-caption {
  margin: 0 16px;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  color: hsl(216deg 15% 48%);
}

.attribution {
  margin: 16px 0;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}
