/* CUSTOM FONT INCLUSION */
@font-face {
  font-family: Karla;
  src: url('../../shared/assets/fonts/karla/Karla-VariableFont_wght.ttf')
    format('opentype-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-black: rgb(0 0 0);
  --color-grey-900: rgb(42 65 68);
  --color-grey-500: rgb(134 162 165);
  --color-green-600: rgb(12 125 105);
  --color-green-200: rgb(224 241 232);
  --color-red: rgb(215 60 60);
  --color-white: rgb(255 255 255);

  /* Spacing */
  --spacing-unit: 8px;
  --spacing-50: calc(var(--spacing-unit) * 0.5);
  --spacing-100: calc(var(--spacing-unit) * 1);
  --spacing-150: calc(var(--spacing-unit) * 1.5);
  --spacing-200: calc(var(--spacing-unit) * 2);
  --spacing-300: calc(var(--spacing-unit) * 3);
  --spacing-400: calc(var(--spacing-unit) * 4);
  --spacing-500: calc(var(--spacing-unit) * 5);
  --spacing-700: calc(var(--spacing-unit) * 7);
  --spacing-1600: calc(var(--spacing-unit) * 16);
}

/* RESETS & GENERAL STYLES */
body,
h1,
h2,
p,
ul,
ol,
li,
button,
fieldset,
input,
legend,
textarea {
  margin: 0;
  padding: 0;
}

button,
img,
input,
label,
textarea {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

button,
input,
textarea {
  font: inherit;
}

button {
  border-width: 2px;
  border-color: transparent;
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font:
    normal 400 100% / 1.5 Karla,
    sans-serif;
  background-color: var(--color-green-200);
  color: var(--color-grey-900);
}

/* Focus Outline */
* {
  outline-width: 0;
  transition: outline-width 100ms ease-in;
}

*:focus-visible {
  outline: 3px solid var(--color-green-600);
  outline-offset: 3px;
}

/* TYPOGRAPHY */
.font-style_heading {
  font-weight: 700;
  font-size: 2rem; /* 32px */
  line-height: 1;
  letter-spacing: -0.0625rem; /* -1px */
}

.font-style_body-md {
  font-weight: 400;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
}

.font-style_body-sm {
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}

.font-style_bold {
  font-weight: 700;
}

/* BUTTONS */
.acf-btn_primary {
  padding: calc(var(--spacing-200) - 2px) 0;
  border-radius: var(--spacing-100);
  background-color: var(--color-green-600);
  color: var(--color-white);
  transition: background-color 100ms ease-in;

  &:hover,
  &:focus-visible {
    background-color: rgb(6 63 53);
  }
}

/* LAYOUT */
.acf-layout {
  height: 100svh;
  display: grid;
  align-items: center;
  grid-template:
    '. . .' 3rem /* 48px */
    '. main .' 1fr
    'footer footer footer' 3rem /* 48px */
    / auto minmax(375px, 722px) auto;
}

/* MAIN CONTENT */
.acf-main {
  grid-area: main;
  padding: 0 var(--spacing-200);
}

.acf-container {
  padding: calc(var(--spacing-300) - 1px);
  border-radius: var(--spacing-200);
  background-color: var(--color-white);
  border: 1px solid transparent;
}

.acf-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300) 0;
  margin: var(--spacing-400) 0 0;
}

.acf-form_layout-inline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300) var(--spacing-200);

  &.condensed {
    row-gap: var(--spacing-200);
  }
}

.acf-form_input-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100) 0;

  &.inline {
    flex-direction: row;
    column-gap: var(--spacing-200);
    align-items: center;
  }
}

.acf-form_consent-container {
  margin: var(--spacing-200) 0;
}

.acf-form_consent {
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-200);
  align-items: center;
}

.acf-form_txt-input {
  padding: var(--spacing-150) var(--spacing-300);
  border: 1px solid var(--color-grey-500);
  border-radius: var(--spacing-100);
  background-color: var(--color-white);
  color: var(--grey-900);

  &:hover,
  &:focus {
    border-color: var(--color-green-600);
  }

  &.invalid {
    border-color: var(--color-red);
  }
}

textarea.acf-form_txt-input {
  height: 216px;
  resize: none;
}

.acf-form_label,
.acf-form_radio-legend {
  & em {
    margin: 0 0 0 var(--spacing-50);
    font-style: normal;
    color: var(--color-green-600);
  }
}

.acf-form_radio-legend {
  margin: 0 0 var(--spacing-100);
}

.acf-form_radio-container {
  flex-grow: 1;
  position: relative;
}

.acf-form_radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--color-grey-500);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin: -10px 0 0 var(--spacing-300);

  &:checked {
    border-color: transparent;
    background: url('../assets/images/icon-radio-selected.svg') center / 119% no-repeat transparent;

    & + label {
      background-color: var(--color-green-200);
      border-color: var(--color-green-600);
    }
  }
}

.acf-form_radio-label {
  padding: var(--spacing-150) var(--spacing-300) var(--spacing-150) 56px;
  border: 1px solid var(--color-grey-500);
  border-radius: var(--spacing-100);
  color: var(--grey-900);

  &:hover {
    border-color: var(--color-green-600);
  }
}

.acf-form_checkbox {
  appearance: none;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border: 1.5px solid var(--color-grey-500);
  border-radius: 2px;
  background-color: var(--color-white);
  cursor: pointer;

  &:hover {
    border-color: var(--color-green-600);
  }

  &:checked {
    border-color: var(--color-green-600);
    background: url('../assets/images/icon-checkbox-check.svg') center / 120% no-repeat;
  }
}

.acf-form_error {
  color: var(--color-red);
}

/* SUCCESS TOAST */
.acf-toast {
  box-sizing: border-box;
  position: fixed;
  top: var(--spacing-300);
  left: var(--spacing-300);
  right: var(--spacing-300);
  z-index: 1;
  width: auto;
  max-width: 450px;
  padding: calc(var(--spacing-300) - 1px);
  background-color: var(--color-grey-900);
  border-radius: var(--spacing-150);
  border: 1px solid transparent;
  color: var(--color-white);
  opacity: 0;
  transition: opacity 200ms ease-in;

  &.active {
    opacity: 1;
  }
}

.acf-toast_heading {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-150);
  margin: 0 0 var(--spacing-100);

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../assets/images/icon-success-check.svg') center / cover no-repeat;
  }
}

.acf-toast_body {
  color: var(--color-green-200);
}

/* ATTRIBUTION */
.attribution {
  grid-area: footer;
  font-size: 0.6875rem; /* 11px */
  text-align: center;

  li {
    display: inline;
  }

  a {
    color: rgb(62 82 163);
  }
}

/* OVERRIDES FOR NON-MOBILE SCREENS */
@media (width >= 498px) {
  .acf-toast {
    left: 50%;
    margin: 0 0 0 -225px;
  }
}

@media (width >= 768px) {
  .acf-main {
    padding: 0;
  }

  .acf-layout {
    grid-template-columns: minmax(39px, 1fr) minmax(690px, 736px) minmax(39px, 1fr);
  }

  .acf-container {
    padding: calc(var(--spacing-500) - 1px);
  }

  .acf-form_layout-inline {
    flex-direction: row;
  }

  textarea.acf-form_txt-input {
    height: 81px;
  }
}
