/* CUSTOM FONT INCLUSION */
@font-face {
  font-family: Inter;
  src: url('../../shared/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf')
    format('opentype-variations');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-black: rgb(0 0 0);
  --color-white: rgb(255 255 255);

  /* Spacing */
  --spacing-100: 8px;
}

/* RESETS & GENERAL STYLES */
body,
h1,
h2,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

html {
  font:
    normal 400 100% / 1.5 Inter,
    sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

body {
  font-size: 0.875rem; /* 14px */
}

/* TYPOGRAPHY */

/* Attribution */
.attribution {
  font-size: 0.6875rem; /* 11px */
  text-align: center;

  li {
    display: inline;
  }
}

.attribution a {
  color: rgb(62 82 163);
}

/* OVERRIDES FOR NON-MOBILE SCREENS */
@media (width > 375px) {
  /* placeholder */
}
