/* CUSTOM FONT INCLUSION */
@font-face {
  font-family: Manrope;
  src: url('../../shared/assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-grey-200: rgb(236 242 248);
  --color-grey-400: rgb(157 174 194);
  --color-grey-500: rgb(110 128 152);
  --color-grey-900: rgb(72 85 106);
  --color-white: rgb(255 255 255);

  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1300: 104px;
  --spacing-2000: 160px;
}

/* RESETS & GENERAL STYLES */
body,
h1,
p,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  display: block;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

html {
  color: var(--color-grey-500);
  font:
    normal 500 100% / 1.4 Manrope,
    sans-serif;
  background-color: var(--color-grey-200);
}

/* TYPOGRAPHY
  - Medium: 500
  - Bold: 700
  - 700 20px / 1.3 
  - 500 13px / 1.4
  - 700 13px / 1.4
  - 700 13px / 1.4 all-caps */
.font_heading {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  letter-spacing: 0.0156rem; /* 0.25px */
  line-height: 1.3;
}

.font_body {
  font-size: 0.8125rem; /* 13px */
  letter-spacing: 0.001rem; /* 0.016px */
}

.font_emphasis {
  font-weight: 700;
}

.font_accent {
  letter-spacing: 0.2031rem; /* 3.25px */
  text-transform: uppercase;
}

/* COMPONENT STYLES
  Component Breakpoint Widths
  - Mobile: 375px
    - Container: 327px
  - Tablet: 768px
    - Container: 608px / 79.17%
    - Image width: 229px / 37.67%
  - Desktop: 1440px
    - Container: 730px / 50.69%
    - Image width: 285px / 39% */
.apcomp-container {
  display: grid;
  grid-template-rows: minmax(1rem, 3rem) 1fr auto; /* 16px, 48px */
  align-items: center;
  height: 100svh;
  min-width: 327px;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 var(--spacing-300);
}

.apcomp-content {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 40px 40px -10px rgb(201 213 225 / 50%);
}

/* Cover Image */
.apcomp-content_card-img {
  height: 53.3vw;
  min-height: 200px;
  max-height: 292px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.apcomp-content_card-img img {
  width: 100%;
  height: auto;
  position: absolute;
}

/* Component Content */
.apcomp-content_card {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
  padding: var(--spacing-400) var(--spacing-400) calc(var(--spacing-200) + 2px);
  position: relative;
}

.apcomp-content_card h1 {
  color: var(--color-grey-900);
}

.apcomp-content_card-author {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-200);
  padding: var(--spacing-300) 0 0;
}

.apcomp-content_card-author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.apcomp-content_card-author-info p {
  color: var(--color-grey-900);
}

.apcomp-content_card-author-info time {
  color: var(--color-grey-400);
}

.apcomp-content_share-popup-container {
  margin: 0 0 0 auto;
}

/* Share Buttons */
.apcomp-content_card-author-btn,
.apcomp-share-popup_close-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.apcomp-content_card-author-btn {
  background: url('../images/icon-share.svg') no-repeat center center var(--color-grey-200);
}

.apcomp-content_card-author-btn[aria-expanded='true'],
.apcomp-share-popup_close-btn {
  background: url('../images/icon-share-white.svg') no-repeat center center var(--color-grey-500);
}

/* Share Popup */
.apcomp-share-popup_container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.apcomp-share-popup_container.active {
  display: block;
}

.apcomp-share-popup {
  display: flex;
  align-items: center;
  gap: 0 12px;
  padding: calc(var(--spacing-300) - 2px) var(--spacing-400);
  border-radius: 0 0 10px 10px;
  background-color: var(--color-grey-900);
  color: var(--color-grey-400);
}

.apcomp-share-popup_share-btn {
  width: 24px;
  height: 24px;
}

.apcomp-share-popup_share-btn.facebook {
  margin-left: 10px;
  background: url('../images/icon-facebook.svg') no-repeat center;
}

.apcomp-share-popup_share-btn.twitter {
  background: url('../images/icon-twitter.svg') no-repeat center;
}

.apcomp-share-popup_share-btn.pinterest {
  background: url('../images/icon-pinterest.svg') no-repeat center;
}

.apcomp-share-popup_close-btn {
  margin-left: auto;
}

/* Attribution */
.attribution {
  grid-row: 3 / 4;
  padding: var(--spacing-200) 0;
  font-size: 0.6875rem; /* 11px */
  text-align: center;
  color: var(--color-grey-900);
}

.attribution a {
  color: rgb(62 82 163);
}

/* OVERRIDES FOR NON-MOBILE SCREENS */
@media (width >= 768px) {
  .apcomp-container {
    max-width: 730px;
    padding: 0 var(--spacing-1000);
  }

  .apcomp-content {
    flex-direction: row;
  }

  .apcomp-content_card-img {
    height: auto;
    max-height: none;
    flex: 0 0 39%;
    border-radius: 10px 0 0 10px;
  }

  .apcomp-content_card-img img {
    height: 100%;
    width: auto;
  }

  .apcomp-content_card {
    position: static;
    padding: var(--spacing-400) var(--spacing-500);
  }

  .apcomp-content_card-author {
    padding: 0;
  }

  .apcomp-content_share-popup-container {
    position: relative;
  }

  .apcomp-share-popup_container {
    inset: -84px auto auto -108px;
    width: 248px;
    padding: 0 0 12px;
  }

  .apcomp-share-popup {
    justify-content: center;
    padding: 15px 0 16px;
    border-radius: 10px;
    background-color: var(--color-grey-900);
    box-shadow: 0 10px 10px 0 rgb(201 213 225 / 50%);
  }

  .apcomp-share-popup::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    border: 12px solid transparent;
    border-top-color: var(--color-grey-900);
  }

  .apcomp-share-popup_close-btn {
    display: none;
  }
}
