/* CUSTOM RANGE SLIDER */
.pw-gen_length-range {
  --dims-range-handle: 28px;
  --dims-range-track: 8px;
  --dims-range-diff: calc((var(--dims-range-handle) - var(--dims-range-track)) / 2);

  appearance: none;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

/* WEBKIT
   Track */
.pw-gen_length-range::-webkit-slider-runnable-track {
  height: var(--dims-range-track);
  margin: var(--dims-range-diff) 0;
  background-color: var(--color-green-200);
}

/* Handle */
.pw-gen_length-range::-webkit-slider-thumb {
  appearance: inherit;
  width: var(--dims-range-handle);
  height: var(--dims-range-handle);
  margin: calc(var(--dims-range-diff) * -1) 0 0;
  border-radius: 50%;
  border: 2px solid var(--color-grey-200);
  background-color: var(--color-grey-200);
}

.pw-gen_length-range:hover::-webkit-slider-thumb {
  border: 2px solid var(--color-green-200);
  background-color: var(--color-grey-850);
}

/* FIREFOX
   Track */
.pw-gen_length-range::-moz-range-track {
  height: var(--dims-range-track);
  background-color: var(--color-green-200);
}

/* Handle */
.pw-gen_length-range::-moz-range-thumb {
  box-sizing: border-box;
  width: var(--dims-range-handle);
  height: var(--dims-range-handle);
  border-radius: 50%;
  border: 2px solid var(--color-grey-200);
  background-color: var(--color-grey-200);
}

.pw-gen_length-range:hover::-moz-range-thumb {
  border: 2px solid var(--color-green-200);
  background-color: var(--color-grey-850);
}

/* FIXES TRACK OVERHANG
   Webkit */
.pw-gen_length-range[data-range-value='0']::-webkit-slider-thumb {
  transform: translateX(-1px);
}

.pw-gen_length-range[data-range-value='100']::-webkit-slider-thumb {
  transform: translateX(1px);
}

/* Firefox */
.pw-gen_length-range[data-range-value='0']::-moz-range-thumb {
  transform: translateX(-1px);
}

.pw-gen_length-range[data-range-value='100']::-moz-range-thumb {
  transform: translateX(1px);
}

/* TRACK PROGRESSION
   Webkit */
.pw-gen_length-range[data-range-value='0']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 0%,
    var(--color-grey-850) 0%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='5']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 5%,
    var(--color-grey-850) 5%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='10']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 10%,
    var(--color-grey-850) 10%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='15']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 15%,
    var(--color-grey-850) 15%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='20']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 20%,
    var(--color-grey-850) 20%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='25']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 25%,
    var(--color-grey-850) 25%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='30']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 30%,
    var(--color-grey-850) 30%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='35']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 35%,
    var(--color-grey-850) 35%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='40']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 40%,
    var(--color-grey-850) 40%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='45']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 45%,
    var(--color-grey-850) 45%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='50']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 50%,
    var(--color-grey-850) 50%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='55']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 55%,
    var(--color-grey-850) 55%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='60']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 60%,
    var(--color-grey-850) 60%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='65']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 65%,
    var(--color-grey-850) 65%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='70']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 70%,
    var(--color-grey-850) 70%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='75']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 75%,
    var(--color-grey-850) 75%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='80']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 80%,
    var(--color-grey-850) 80%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='85']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 85%,
    var(--color-grey-850) 85%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='90']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 90%,
    var(--color-grey-850) 90%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='95']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 95%,
    var(--color-grey-850) 95%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='100']::-moz-range-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 100%,
    var(--color-grey-850) 100%,
    var(--color-grey-850) 100%
  );
}

/* Firefox */
.pw-gen_length-range[data-range-value='0']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 0%,
    var(--color-grey-850) 0%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='5']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 5%,
    var(--color-grey-850) 5%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='10']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 10%,
    var(--color-grey-850) 10%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='15']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 15%,
    var(--color-grey-850) 15%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='20']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 20%,
    var(--color-grey-850) 20%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='25']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 25%,
    var(--color-grey-850) 25%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='30']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 30%,
    var(--color-grey-850) 30%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='35']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 35%,
    var(--color-grey-850) 35%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='40']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 40%,
    var(--color-grey-850) 40%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='45']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 45%,
    var(--color-grey-850) 45%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='50']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 50%,
    var(--color-grey-850) 50%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='55']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 55%,
    var(--color-grey-850) 55%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='60']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 60%,
    var(--color-grey-850) 60%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='65']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 65%,
    var(--color-grey-850) 65%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='70']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 70%,
    var(--color-grey-850) 70%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='75']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 75%,
    var(--color-grey-850) 75%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='80']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 80%,
    var(--color-grey-850) 80%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='85']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 85%,
    var(--color-grey-850) 85%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='90']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 90%,
    var(--color-grey-850) 90%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='95']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 95%,
    var(--color-grey-850) 95%,
    var(--color-grey-850) 100%
  );
}

.pw-gen_length-range[data-range-value='100']::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--color-green-200) 0%,
    var(--color-green-200) 100%,
    var(--color-grey-850) 100%,
    var(--color-grey-850) 100%
  );
}
