/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-black: rgb(28 35 43);
  --color-cream: rgb(242 234 226);
  --color-green-500: rgb(61 129 104);
  --color-green-700: rgb(26 64 50);
  --color-grey: rgb(108 114 137);
  --color-white: rgb(255 255 255);

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

/* RESETS & GENERAL STYLES */
* {
  box-sizing: border-box;
}

body,
h1,
p,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  background-color: var(--color-cream);
  color: var(--color-grey);
  font:
    normal 400 100% / 1.6 Montserrat,
    sans-serif;
}

body {
  display: grid;
  grid-template:
    '. . .' minmax(var(--spacing-200), 42px)
    '. main .' 1fr
    '. footer .'
    / 1fr auto 1fr;
  align-items: center;
  height: 100svh;
  font-size: 0.875rem; /* 14px */
}

/* TYPOGRAPHY */
.type_fraunces_lrg {
  font:
    normal 700 2rem / 1 Fraunces,
    sans-serif; /* 32px */
}

.type_montserrat_sml {
  font:
    normal 500 0.75rem / 1.2 Montserrat,
    sans-serif; /* 12px */
}

.type_montserrat_mid {
  font:
    normal 500 0.8125rem / 1.2 Montserrat,
    sans-serif; /* 13px */
}

.type_montserrat_lrg {
  font:
    normal 700 0.875rem / 1.1 Montserrat,
    sans-serif; /* 14px */
}

/* PRODUCT PREVIEW CARD STYLES */
.prd-preview_card {
  grid-area: main;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 12.5px;
  border-radius: var(--spacing-100);
  background-color: var(--color-white);
}

/* Product Image */
.prd-preview_prd-img img {
  width: 100%;
  height: auto;
  border-radius: var(--spacing-100) var(--spacing-100) 0 0;
}

/* Product Text */
.prd-preview_content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
  padding: var(--spacing-400);
}

.prd-preview_prd-category {
  letter-spacing: 0.3125rem; /* 5px */
  text-transform: uppercase;
}

.prd-preview_prd-name {
  color: var(--color-black);
}

/* Price */
.prd-preview_price-block {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-200);
}

.prd-preview_price {
  color: var(--color-green-500);
}

.prd-preview_strike-price {
  text-decoration: line-through;
}

/* Add to Cart Button */
.prd-preview_btn-atc {
  padding: var(--spacing-200) var(--spacing-400);
  background-color: var(--color-green-500);
  border: none;
  border-radius: var(--spacing-100);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 300ms ease-out;
}

.prd-preview_btn-atc::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: var(--spacing-100);
  background: url('../images/icon-cart.svg') no-repeat;
  vertical-align: middle;
}

.prd-preview_btn-atc:hover,
.prd-preview_btn-atc:focus {
  background-color: var(--color-green-700);
}

/* Attribution */
.attribution {
  grid-area: footer;
  padding: var(--spacing-200) 0;
  font-size: 0.625rem; /* 10px */
  line-height: 1;
  text-align: center;
  color: var(--color-black);
}

.attribution a {
  color: var(--color-green-700);
}

/* OVERRIDES FOR NON-MOBILE SCREENS */

/* Favor context notation for consistency with HTML media handling */
/* stylelint-disable-next-line media-feature-range-notation */
@media (min-width: 624px) {
  .prd-preview_card {
    width: 600px;
    flex-direction: row;
  }

  .prd-preview_content,
  .prd-preview_prd-img {
    flex: 0 0 300px;
  }

  .prd-preview_prd-img img {
    border-radius: var(--spacing-100) 0 0 var(--spacing-100);
  }

  .prd-preview_content {
    justify-content: space-between;
    row-gap: 0;
  }
}
