/* Custom Font Inclusion */
@font-face {
  font-family: Inter;
  src: url('../../shared/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf')
    format('opentype-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/* Custom Properties */
:root {
  /* Color Scheme */
  --color-green: hsl(75deg 94% 57%);
  --color-grey-700: hsl(0deg 0% 20%);
  --color-grey-800: hsl(0deg 0% 12%);
  --color-grey-900: hsl(0deg 0% 8%);
  --color-white: hsl(0deg 0% 100%);
}

/* Reset & General Styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  background-color: var(--color-grey-900);
  color: var(--color-white);
  font:
    normal 400 100% / 1.5 Inter,
    sans-serif;
}

body {
  height: 100svh;
  display: grid;
  grid-template:
    /* stylelint-disable-next-line number-max-precision */
    '. . .' minmax(1rem, 2.78125rem) /* 16px, 44.5px */
    '. main .' 1fr
    'footer footer footer' auto
    / 1fr minmax(376px, 432px) 1fr;
  align-items: center;
  font-size: 0.875rem; /* 14px */
}

/* Utilities */
.transition-off * {
  transition: none !important;
}

/* Social Links Profile Styles */
.soc-link-prof {
  grid-area: main;
  margin: 0 24px;
  padding: 24px 0;
  background-color: var(--color-grey-800);
  border-radius: 12px;
  text-align: center;
  transition: padding 0.1s linear;
}

.soc-link-prof-img {
  width: 88px;
  height: 88px;
  margin: 0 auto;
  border-radius: 50%;
}

.soc-link-prof-name {
  margin: 24px 0 4px;
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

.soc-link-prof-location {
  margin: 0 0 24px;
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  color: var(--color-green);
}

.soc-link-prof-links {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 24px 40px 0;
}

.soc-link-prof-links a {
  padding: 12px 0;
  border-radius: 8px;
  background-color: var(--color-grey-700);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: var(--color-white);
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.soc-link-prof-links a:hover,
.soc-link-prof-links a:focus {
  background-color: var(--color-green);
  color: var(--color-grey-900);
}

/* Attribution */
.attribution {
  grid-area: footer;
  padding: 14px 0;
  font-size: 0.6875rem; /* 11px */
  text-align: center;
}

/* Disabled in favor of grouping styles by their associated elements */
/* stylelint-disable-next-line no-descending-specificity */
.attribution a {
  color: var(--color-green);
}

/* Overrides for Non-Mobile Screens */
@media (width > 375px) {
  .soc-link-prof {
    padding: 40px 0;
  }
}
