html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

html {
  font:
    normal 100% / 1.4 Helvetica,
    Arial,
    sans-serif;
}

body {
  font-size: 1rem; /* 16px */
}

h1 {
  margin: 1.5rem 0; /* 24px */
  font-size: 2rem; /* 32px */
}

h2 {
  margin: 1.25rem 0; /* 20px */
  font-size: 1.5rem; /* 24px */
}

h3 {
  margin: 1rem 0; /* 16px */
  font-size: 1.125rem; /* 18px */
}

h4 {
  margin: 0.75rem 0; /* 12px */
  font-size: 1rem; /* 16px */
}

h5 {
  margin: 0.625rem 0; /* 10px */
  font-size: 0.8125rem; /* 13px */
}

h6 {
  margin: 0.5rem 0; /* 8px */
  font-size: 0.625rem; /* 10px */
}

p {
  margin: 0.75rem 0; /* 12px */
  font-size: 1rem; /* 16px */
}

li {
  font-size: 1rem; /* 16px */
}

a {
  color: rgb(0 115 255);
}
