/* CUSTOM FONT INCLUSION */
@font-face {
  font-family: 'Roboto Regular';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  /* Color Scheme */
  --color-blue-700: rgb(54 56 77);
  --color-blue-800: rgb(36 39 66);
  --color-grey: rgb(148 148 148);
  --color-red: rgb(255 97 85);
  --color-white: rgb(255 255 255);

  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1300: 104px;
}

/* RESETS & GENERAL STYLES */
body,
h1,
h2,
p,
ul,
ol,
li,
button,
input {
  margin: 0;
  padding: 0;
}

button,
img {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

button,
input {
  font: inherit;
}

button {
  border-color: transparent;
  cursor: pointer;
}

*:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 1px var(--color-white),
    0 0 0 4px rgb(108 199 255),
    0 0 0 5px var(--color-white);
}

html {
  color: var(--color-blue-800);
  font:
    normal 400 100% / 1.5 'Roboto Regular',
    sans-serif;
  background-color: var(--color-blue-700);
}

body {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

/* TYPOGRAPHY
  - 400: regular 
  - 700: bold
  - 700 56px / 1
  - 700 40px / 1 (Mobile)
  - 700 16px / 1.5
  - 400 16px / 1.5
  - 700 12px / 1.5 */
.font-style_heading {
  font:
    normal 700 2.5rem / 1 'Roboto Bold',
    sans-serif; /* 40px */
}

.font-style_body {
  font:
    normal 400 1rem / 1.5 'Roboto Regular',
    sans-serif; /* 16px */
}

.font-style_sml {
  font:
    normal 700 0.75rem / 1.5 'Roboto Bold',
    sans-serif; /* 12px */
}

.font-style_bold {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 700;
}

/* NEWSLETTER SIGN-UP FORM PAGE STYLES */
.newsletter-content {
  grid-column: 2 / 3;
}

/* Shared Content Styles */
.newsletter-content_styles {
  min-width: 375px;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--color-white);
}

/* Sign-Up Form Content */
.newsletter-content_signup {
  display: none;
  flex-direction: column;
}

.newsletter-content_signup.active {
  display: flex;
}

/* Cover Image */
.newsletter-content_signup-cover img {
  width: 100%;
  height: auto;
  border-radius: 0 0 var(--spacing-200) var(--spacing-200);
}

.newsletter-content_signup-container {
  padding: var(--spacing-500) var(--spacing-300);
}

.newsletter-content_signup-heading {
  margin: 0 0 var(--spacing-300);
}

/* List */
.newsletter-content_signup-list {
  margin: var(--spacing-300) 0 var(--spacing-500);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);
}

.newsletter-content_signup-list-item {
  padding: 0 0 0 37px;
  background: url('../assets/images/icon-list.svg') 0 0 no-repeat;
}

/* Form */
.newsletter-form_email-label-container {
  display: flex;
  justify-content: space-between;
}

.newsletter-form_error {
  display: none;
  color: var(--color-red);
}

.newsletter-form_email-input,
.newsletter-btn {
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--spacing-100);
}

.newsletter-form_email-input {
  margin: var(--spacing-100) 0 var(--spacing-300);
  padding: calc(var(--spacing-200) - 1px) var(--spacing-300);
  border: 1px solid var(--color-blue-800);
  color: var(--color-blue-800);
}

.newsletter-btn {
  padding: calc(var(--spacing-200) - 2px) 0;
  background-color: var(--color-blue-800);
  color: var(--color-white);
}

.newsletter-btn:hover,
.newsletter-btn:focus {
  background: linear-gradient(90deg, rgb(255 106 59), rgb(255 82 123));
}

.newsletter-form.error .newsletter-form_error {
  display: block;
}

.newsletter-form.error .newsletter-form_email-input {
  border-color: var(--color-red);
  color: var(--color-red);
  background-color: rgb(255 231 230);
}

.newsletter-form.error .newsletter-form_email-input:focus {
  outline-color: var(--color-red);
}

/* Success Message Content */
.newsletter-content_success {
  display: none;
}

.newsletter-content_success.active {
  display: block;
}

.newsletter-content_success-container {
  padding: 149px var(--spacing-300) 62px;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-400);
}

.newsletter-content_success-msg {
  margin: 0 0 239px;
}

/* Attribution */
.attribution {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  padding: var(--spacing-200) 0;
  color: var(--color-white);
  font-size: 0.6875rem; /* 11px */
  text-align: center;
}

.attribution a {
  color: var(--color-white);
}

/* OVERRIDES FOR NON-MOBILE SCREENS */
@media (width >= 768px) {
  body {
    height: 100svh;
    grid-template-rows: minmax(var(--spacing-200), 48.5px) 1fr auto;
    align-items: center;
  }

  /* TYPOGRAPHY */
  .font-style_heading {
    font-size: 3.5rem; /* 56px */
  }

  /* NEWSLETTER SIGNUP FORM STYLES */
  .newsletter-content {
    grid-row: 2 / 3;
  }

  /* Shared Content Styles */
  .newsletter-content_styles {
    border-radius: 36px;
  }

  /* Sign-Up Form Content */
  .newsletter-content_signup {
    min-width: 528px;
    max-width: 700px;
    margin: 0 80px;
    padding: var(--spacing-500);
  }

  /* Cover Image */
  .newsletter-content_signup-cover img {
    border-radius: var(--spacing-200);
  }

  .newsletter-content_signup-container {
    padding: var(--spacing-500) 0 0;
  }

  /* List */
  .newsletter-content_signup-list {
    margin: var(--spacing-300) 0 var(--spacing-300);
  }

  /* Form */
  .newsletter-form_email-input {
    margin: var(--spacing-100) 0 var(--spacing-200);
  }

  /* Success Message Content */
  .newsletter-content_success {
    max-width: 504px;
  }

  .newsletter-content_success-container {
    padding: var(--spacing-800);
  }

  .newsletter-content_success-msg {
    margin: 0;
  }

  /* Attribution */
  .attribution {
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  /* Sign-Up Form Content */
  .newsletter-content_signup {
    flex-direction: row;
    column-gap: var(--spacing-800);
    width: 840px;
    max-width: none;
    margin: 0 auto;
    padding: var(--spacing-300) var(--spacing-400);
  }

  .newsletter-content_signup-cover {
    order: 1;
  }

  .newsletter-content_signup-heading {
    margin: 0 0 var(--spacing-400);
  }

  /* List */
  .newsletter-content_signup-list {
    margin: var(--spacing-400) 0 var(--spacing-400);
  }

  /* Form */
  .newsletter-form_email-input {
    margin: var(--spacing-100) 0 var(--spacing-300);
  }
}
