name: Reusable Node.js Test

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
      cache-dependency-path:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ${{ inputs.cache-dependency-path }}

      - run: npm ci
      - run: npm test
